
body {
    display: grid;
    background-color: rgb(228, 228, 228);
    justify-content: center;
    align-content: center;
}

#container {
    width: 20rem;
    height: 37rem;
    padding: 1.5rem;
    background-color:rgb(177, 177, 177);
    border: none;
    border-radius: 3rem;
    box-shadow: 0.02rem 0.02rem 0.2rem 0 rgb(0, 0, 0);
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 2fr;
}

#display {
    font-size: 3rem;
    font-family: monospace;
    color: rgb(69, 176, 226);
    background-color: rgb(44, 44, 44);
    padding: 1.5rem;
    border-radius: 2rem;
    margin-bottom: 1rem;
    box-shadow: 0.08rem 0.08rem 0.4rem 0 black inset;
    word-wrap: break-word;
    overflow: hidden;
}

#buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-gap: 0.5rem;
}

.numbers {
    font-size: 2rem;
    padding: 1rem;
    color: white;
    background-color: rgb(80, 80, 80);
    border: none;
    border-radius: 3rem; 
    outline: none;
    box-shadow: 0.05rem 0.05rem 0.2rem 0 rgb(0, 0, 0);
}

.numbers:hover {
    color: rgb(37, 37, 37);
    background-color: rgb(240, 240, 240);
    border: none;
    box-shadow: none;
    transition: all .15s ease-in-out;
    transform: translateY(-0.2rem);
}

.operands {
    font-size: 2rem;
    padding: 1rem;
    font-family: monospace;
    color: rgb(255, 255, 255);
    background-color: rgb(54, 54, 54);
    border: none;
    border-radius: 3rem; 
    outline: none;
    box-shadow: 0.05rem 0.05rem 0.2rem 0 rgb(24, 24, 24);
}

.operands:hover {
    color: rgb(36, 36, 36);
    background-color: rgb(235, 130, 33);
    box-shadow: none;
    transition: all .15s ease-in-out;
    transform: translateY(-0.2rem);
}

#decimal, #equals, #clear, #backspace {
    font-size: 2rem;
    padding: 1rem;
    font-family: monospace;
    color: rgb(255, 255, 255);
    background-color: rgb(54, 54, 54);
    border: none;
    border-radius: 3rem; 
    outline: none;
    box-shadow: 0.05rem 0.05rem 0.2rem 0 rgb(24, 24, 24);
}

#decimal {
    background-color: rgb(80, 80, 80);
}

#equals:hover, #decimal:hover {
    color: rgb(37, 37, 37);
    background-color: rgb(240, 240, 240);
    box-shadow: none;
    transition: all .15s ease-in-out;
    transform: translateY(-0.2rem);
}

#clear {
    grid-column: 1/2;  
}

#backspace {
    grid-column: 2/3;
}

#backspace:hover, #clear:hover {
    color: rgb(255, 255, 255);
    background-color: rgb(26, 142, 209);
    border: none;
    box-shadow: none;
    transition: all .15s ease-in-out;
    transform: translateY(-0.2rem);
}

.numbers:active, .operands:active, #decimal:active, #equals:active, #backspace:active, #clear:active {
    transform: translateY(0.1rem);
}

#thecalc {
    font-size: 1rem;
    font-family: monospace;
    color: rgb(255, 255, 255);
    background-color: rgb(26, 142, 209);
    border: none;
    border-radius: 3rem; 
    grid-column: 3/5;
    outline: none;
    box-shadow: 0.05rem 0.05rem 0.2rem 0 rgb(24, 24, 24);
}
