/* okay what do I put here */
body {
    display: grid;
    background-color: rgb(228, 228, 228);
    justify-content: center;
    align-content: center;
}

.container {
    padding: 1vw;
    background-color:rgb(177, 177, 177);
    grid-template-rows: 1fr 2fr;
    grid-gap: 5vw;
    border: 0.5vw solid transparent;
    border-radius: 2.5vw;
    box-shadow: 0.02vw 0.02vw 0.2vw 0 rgb(0, 0, 0);
}

#display {
    grid-row: 1/2;
    width: 18vw;
    height: 7vw;
    font-size: 2vw;
    font-family: monospace;
    color: rgb(69, 176, 226);
    background-color: rgb(44, 44, 44);
    padding: 1.5vw;
    border-radius: 2vw;
    margin-bottom: 1vw;
    box-shadow: 0.03vw 0.03vw 0.6w 0 black inset;
    word-wrap: break-word;
    overflow: hidden;
    text-align: right;
}

.buttons {
    grid-row: 2/3;
    width: 21vw;
    height: 25vw;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-gap: 0.5vw 0.5vw;
}

.numbers {
    font-size: 2vw;
    color: white;
    background-color: rgb(80, 80, 80);
    border: 1vw solid transparent;
    border-radius: 6vw; 
    outline: none;
    box-shadow: 0.03vw 0.03vw 0.2vw 0 rgb(0, 0, 0);
}

.numbers:hover {
    background-color: rgb(61, 77, 102);
    border: none;
    box-shadow: none;
    transition: all .15s ease-in-out;
    transform: translateY(-0.2vw);
    /*position: relative;
    animation: bounce 0.1s 1 linear;
    animation-fill-mode: forwards;*/
}

.operands {
    font-size: 2vw;
    font-family: monospace;
    color: rgb(255, 255, 255);
    background-color: rgb(54, 54, 54);
    border: none;
    border: 1vw solid transparent;
    border-radius: 6vw; 
    outline: none;
    box-shadow: 0.03vw 0.03vw 0.2vw 0 rgb(24, 24, 24);
}

.operands:hover {
    color: rgb(36, 36, 36);
    background-color: rgb(235, 130, 33);
    box-shadow: none;
    transition: all .15s ease-in-out;
    transform: translateY(-0.2vw);
}

#decimal, #equals, #clear, #backspace {
    font-size: 2vw;
    font-family: monospace;
    color: rgb(255, 255, 255);
    background-color: rgb(54, 54, 54);
    border: none;
    border-radius: 6vw; 
    outline: none;
    box-shadow: 0.03vw 0.03vw 0.2vw 0 rgb(24, 24, 24);
}

#decimal {
    background-color: rgb(80, 80, 80);
}

#equals:hover, #decimal:hover {
    color: rgb(37, 37, 37);
    background-color: rgb(240, 240, 240);
    box-shadow: none;
    transition: all .15s ease-in-out;
    transform: translateY(-0.2vw);
}

#clear {
    grid-column: 1/2;  
}

#backspace {
    grid-column: 2/3;
}

#backspace:hover, #clear:hover {
    color: rgb(255, 255, 255);
    background-color: rgb(26, 142, 209);
    border: none;
    box-shadow: none;
    transition: all .15s ease-in-out;
    transform: translateY(-0.2vw);
}

.numbers:active, .operands:active, #decimal:active, #equals:active, #backspace:active, #clear:active {
    transform: translateY(0vw);
}

#thecalc {
    font-size: 1vw;
    font-family: monospace;
    color: rgb(255, 255, 255);
    background-color: rgb(26, 142, 209);
    border: none;
    border-radius: 6vw; 
    grid-column: 3/5;
    outline: none;
    box-shadow: 0.03vw 0.03vw 0.2vw 0 rgb(24, 24, 24);
}

/*@keyframes bounce { 0% { top: 0; } 30% { top: -0.05vw; } 70% { top: -0.10vw; } 100% { top: -0.25vw; } }
*/